@model Employer
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Add New Employer</h2>
			<hr />
		</div>


		<div asp-validation-summary="All"></div>
	<div class="mb-3">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control"/>
		<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="password"></label>
		    <input asp-for="password" class="form-control"/>
			<span asp-validation-for="password" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Role"></label>
		    <input asp-for="Role" class="form-control"/>
			<span asp-validation-for="Role" class="text-danger"></span>
		</div>




		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Employer" asp-action="Index" class="btn btn-secondary" style="width:150px">
         Back to List
		</a>

	</div>



	</div>
	</div>
</form>